frontend/node_modules/
backend/node_modules/
frontend/.env
backend/.env
frontend/package-lock.json
backend/package-lock.json
frontend/build/
backend/dist/
backend/prisma/dev.db
backend/prisma/dev.db-journal
backend/prisma/migrations/
.history/
